@charset "UTF-8";
.prickol__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}
.prickol__bg-img {
  width: 100%; /* Ширина на 100% */
  height: auto; /* Автоматична висота */
  min-height: 100%; /* Мінімальна висота на 100% */
  min-width: 100%;
}
.prickol__title {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 40%;
}
.prickol__a {
  position: absolute;
  background-color: #605fb4;
  padding: 10px 20px;
  border-radius: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
}
.prickol__a:hover {
  background-color: #403f8b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}