.prickol {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
  }

  &__bg-img {
    width: 100%; /* Ширина на 100% */
    height: auto; /* Автоматична висота */
    min-height: 100%; /* Мінімальна висота на 100% */
    min-width: 100%;
  }

  &__title {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
  }
  
  &__a {
    position: absolute;
    background-color: #605fb4;
    padding: 10px 20px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    
    &:hover {
      background-color: #403f8b;
      transition: all 0.3s;
    }
  }
}